<!-- IF not S_USER_LOGGED_IN -->
<div class="navbar_notice" id="navbar_notice_1010">
    <div id="topbar11" class="topbar11-nojs">
        <div>
            <h2>
                <img class="lock_svg" alt="lock" src="{ROOT_PATH}/ext/alex75/guestsregisterbar/styles/all/template/assets/img/lock.svg" />
                <div class="text-message">
                    {L_WELC} {SITENAME} <a alt="{L_REGNOW}" href="{U_REGISTER}">{L_REGNOW}</a> {L_ORLOGIN}
                    <a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}" accesskey="x" role="menuitem">{L_LOGIN_LOGOUT}</a>
                </div>
                <img class="lock_svg" alt="lock" src="{ROOT_PATH}/ext/alex75/guestsregisterbar/styles/all/template/assets/img/lock.svg" />
            </h2>
            <small class="guestsregisterbar_copy">Made by Alex75, Carlino, Sir Xiradorn</small>
        </div>
    </div>
</div>
<!-- ENDIF -->
